[defaults]
inventory = inventory
private_key_file =  ~/.ssh/ansible_id_rsa
#private_key_file =  ~/.ssh/ansible
#remote_user = ubuntu
##bitsUAT#remote_user = bits2
#remote_user = bits1
remote_user = luqman
interpreter_python = /usr/bin/python3.10
