<VirtualHost *:80>
    ServerName {{ domain_name }}

    DocumentRoot /var/www/html
    <Directory /var/www/html>
        AllowOverride All
        Require all granted
    </Directory>


    ProxyPreserveHost On
    RewriteEngine On 
    RewriteCond %{REQUEST_URI} ^/$
    RewriteRule ^/$ /fibi [R=302,L]

    ProxyPass /fibi http://127.0.0.1:8080/fibi
    ProxyPassReverse /fibi http://127.0.0.1:8080/fibi

    ProxyPass /auth http://127.0.0.1:13001/auth
    ProxyPassReverse /auth http://127.0.0.1:13001/auth

    ProxyPass /eureka http://127.0.0.1:13000
    ProxyPassReverse /eureka http://127.0.0.1:13000

    ProxyPass / http://127.0.0.1:13002/
    ProxyPassReverse / http://127.0.0.1:13002/

</VirtualHost>

